.name{
    font-weight:bold;
    width:max-content;
}

.post{
    position:absolute;
    width: 100%;
    left:0em;
    font-style: normal;
    border:.1em;
    border-style: none none solid none;
}

.postbox{
    position:relative;
    top:2em;
    line-height: 2.5em;
    text-align: center;
    border:.4em;
    border-style:dotted dotted solid solid;
    border-radius: 1em;
}

.date{
    position:absolute;
    left:1em;
}